.title {
  margin: 0;
}

.titleWrapper {
  padding: 40px 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  box-sizing: border-box;
  padding: 0 100px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.name {
  margin: 16px 0 0;
  text-align: center;
}

.pfcWrapper {
  padding: 32px 0 60px;
  margin: 0 auto;
  max-width: 516px;
  justify-content: space-between;
  display: flex;
}

.closeButton {
  top: 60px;
  right: 40px;
  position: absolute;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../../images/close.svg');
  background-position: 50% 50%;
  background-size: 100%;
}
